#btnNew{
    width: 100%;
}

#resumo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #898989;
    margin-top: 20px;
    
}

#resumo > p{
font-weight: 200;
font-size: 14px;
}